<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Home</a>
    <button  class="navbar-toggler"
             type="button"
             data-toggle="collapse"
             data-target="#navbarsExampleDefault"
             aria-controls="navbarsExampleDefault"
             aria-expanded="false"
             aria-label="Toggle navigation"
             >
       <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
          <f:for each="{mainnavigation}" as="mainnavigationItem">
            <f:if condition="{mainnavigationItem.children}">
               <f:then>
                  <li class="nav-item {f:if(condition: mainnavigationItem.active, then: 'active')} dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {mainnavigationItem.title}
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <f:for each="{mainnavigationItem.children}" as="child">
                           <a class="dropdown-item {f:if(condition: child.active, then: 'active')}"
                           href="{child.link}"
                           target="{child.target}"
                           title="{child.title}"
                           >
                           {child.title}
                        </a>
                        </f:for>
                     </div>
                  </li>
               </f:then>
               <f:else>
                  <li class="nav-item {f:if(condition: mainnavigationItem.active, then: 'active')}">
                     <a class="nav-link"
                        href="{mainnavigationItem.link}"
                        target="{mainnavigationItem.target}"
                        title="{mainnavigationItem.title}"
                        >
                        {mainnavigationItem.title}
                     </a>
                  </li>
               </f:else>
             </f:if>
          </f:for>
       </ul>
    </div>
 </nav>